.post-body {
  background-color: #fff;
  min-width: 85%;
  margin: 30px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
  min-height: 300px;
  position: relative;
}

.post-body .no-wrap {
  display: flex;
  position: absolute;
  bottom: 20px;
  width: auto;
  right: 20px;
}

.post-body .comment-no, .post-body .like-no {
  display: block;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, .1);
}

.post-body .like-no {
  margin-right: 10px;
}

.post-body .like-no:hover {
  cursor: pointer;
}
